.header .top {
    height: 52px;
    background-color: var(--secondary-theme-color);
}

.header .top .wrapper {
    justify-content: flex-end;
}



.header .bottom {
    padding: 22px 0;
    /* display: flex; */
  }

.header .bottom .wrapper {
    display: flex;
    /* justify-content: space-between; */
}


.cart {
    position: relative;
    margin: 20px 0 0 15px;
}

.cart .iconfont {
    font-size: 36px;
}
  
.cart .cartnum {
    position: absolute;
    top: 0;
    left: 22px;

    padding: 0 8px;
    background-color: #E26237;
    color: #fff;
    border-radius: 11px;
}

.footer {
    height: 582px;
    background-color: #F5F5F5;
}

.footer .flood1 {
    padding: 60px 0;
    border-bottom: 1px solid #E8E8E8;
}

.footer .flood1 ul {
    width: 100%;

    display: flex;
  /* 缝隙相同 */
    justify-content: space-evenly;
}

.footer .flood1 ul li {
    display: flex;
  /* width: 190px; */
    height: 58px;
  /* background-color: pink; */
}

.footer .flood1 li h5 {
    width: 58px;
    height: 58px;
    margin-right: 20px;
    background: url(../images/sprite.png);
    
    text-indent: -999em;
    overflow: hidden;

    transition: all .3s;
}

.footer .flood1 li:nth-child(2) h5 {
    background-position: 0 -58px;
  }
  
.footer .flood1 li:nth-child(2) h5:hover {
    background-position: 0 -116px;
}

.footer .flood1 li:nth-child(3) h5 {
    background-position: 0 -116px;
}
  
.footer .flood1 li:nth-child(4) h5 {
    background-position: 0 -174px;
}

.footer .flood1 ul li p {
    font-size: 28px;
    line-height: 58px;
}

.footer .flood2{
    height: 300px;
    padding: 60px 0;
}

.footer .flood2 .wrapper{
    display: flex;
    justify-content: space-between;
}

.footer .flood2 .left{
    display: flex;
    justify-content: space-between;
}

.footer .flood2 .left dl{
    margin-right: 80px;
}

.footer .flood2 .left dl dt{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer .flood2 .left dd a{
    font-size: 16px;
    color: var(--text-color);
}

.footer .flood2 .left dd a:hover{
    text-decoration: underline;
    color: var(--main-theme-color);
}

.footer .flood2 .left i{
    color: var(--main-theme-color);
}

.footer .flood2 .left dl:last-child{
    margin-left: 55px;
    margin-right: 0;
}

.footer .flood2 .right ul{
    display: flex;
}

.footer .flood2 .right li:nth-child(2){
    margin-left: 55px;
}

.footer .flood2 .right img{
    width: 120px;
    height: 120px;
}

.footer .flood2 .right p {
    margin-top: 10px;
    color: var(--text-color);
    text-align: center;
}

.footer .flood3 .wrapper{
    display: block;
}

.footer .flood3 .wrapper p:first-child{
    text-align: center;
    line-height: 30px;
    color: var(--text-color);
}

.footer .flood3 .wrapper p:first-child a:hover{
    color: var(--main-theme-color);
}

.footer .flood3 .wrapper p:first-child span{
    margin: 0 10px;
}

.footer .flood3 .wrapper p:last-child {
    text-align: center;
}